[user]

	name = Alexey Ivanov
	email = stupidlogin@gmail.com

[alias]

    ci = commit
    co = checkout
    br = branch
    up = pull -u
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    fl = log -u
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    f = "!git ls-files | grep -i"
    grep = grep -Ii
    la = "!git config -l | grep alias | cut -c 7-"
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    st = status
    cl = clone
    diff = diff --word-diff

[branch]

    autosetupmerge = true

[color]

    ui = auto
    diff = auto
    status = auto
    branch = auto

[color "branch"]

    current = green
    remote = blue

[color "diff"]

    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold

[push]

    default = current

[core]

    excludesfile = ~/.gitignore
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    quotepath = false
    editor = vim

[github]

    user = iadramelk

[url "git@github.com:"]

    insteadOf = "https://github.com/"
    insteadOf = "http://github.com/"
    insteadOf = "gh:"

[url "git@github.com:jetstyle/"]

    insteadOf = "js:"

[url "git@github.com:iAdramelk/"]

    insteadOf = "ia:"

[difftool "Kaleidoscope"]
      cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
      tool = Kaleidoscope
[difftool]
      prompt = false

[mergetool "Kaleidoscope"]
      cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustExitCode = true
[mergetool]
      prompt = false
[merge]
      tool = Kaleidoscope
